body {
  background-color: #fff;
  color: #0000FF;
  font-size: 10px;
  font-family: sans-serif;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

figcaption {
  font-size: 1.4em; /* 14px */
  padding-bottom: 2rem;
}

h1 {
  font-size: 3.2em; /* 32px */
  padding-bottom: 1rem;
}

h3 {
  font-size: 1.8em; /* 18px */
  padding-bottom: 1rem;
}

p {
  font-size: 1.6em; /* 16px */
  line-height: 1.2;
}

a {
  text-decoration: none;
  }

  a: visited { color:#0070BA; } /* visited */
  a:hover { color:#0070BC; } /* mouse over */
